<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style/style.css">
    <title>User Page</title>

</head>
<body>
 TAB
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto ">
            <li class="navbar-text mr-5">
                <a class="navbar-text" style="color: #F9F6EE" th:text="${user.email}">
                    email
                </a>
            </li>
            <li class="navbar-text">
                <a class="navbar-text" style="color: #F9F6EE" th:text="${user.getRoles()}">
                    roles
                </a>
            </li>
        </ul>
        <ul>
            <a class="nav-link" href="/logout">
                Logout
            </a>
        </ul>
    </div>
</nav>

Main page
<div class="container">
    <div class="row">
        <ul class="nav flex-column ml-0 ">
            <li class="nav-item">
                <div class="row">
                    <div class="col-3">
                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <button class="nav-link active" id="v-pills-home-tab" data-toggle="pill"
                                    data-target="#v-pills-home" type="button" role="tab"
                                    aria-controls="v-pills-home" aria-selected="true" th:text="${user.getFirstname()}">Home</button>
                        </div>
                    </div>
                    <div class="col-9">
                        <div class="tab-content" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">...</div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="col-sm">
            <h1>User Information-page</h1>
            <table class="table table-striped" title="about user">
                <a>About user</a>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">age</th>
                    <th scope="col">Email</th>
                    <th scope="col">Role</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${user.getId()}">1</td>
                    <td th:text="${user.getFirstname()}">fn</td>
                    <td th:text="${user.getLastname()}">ln</td>
                    <td th:text="${user.getAge()}">age</td>
                    <th th:text="${user.getEmail()}">em</th>
                    <th th:text="${user.getRoles()}">rl</th>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>




<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>